<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Cargos')}"></head>
<header th:replace="~{fragmentos :: header('Cargos')}"></header>
<body>
    <main class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cargo : ${cargos}">
                    <th scope="col" th:text="${cargo.id}"></th>
                    <td th:text="${cargo.nome}"></td>
                    <td th:text="${cargo.descricao}"></td>
                    <td>
                    <span th:each="risco, itr : ${cargo.riscos}"
                          th:title="${risco.descricao}"
                          th:text="${itr.index <= 0 ? '' : ', '}+${risco.nome}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="/cargos/new">Novo cargo</a>
        </div>
    </main>
</body>
</html>