<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Cargos')}"></head>
<header th:replace="~{fragmentos :: header('Cargos')}"></header>
<body>
    <main class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Riscos</th>
                    <th>Editar</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cargo : ${cargos}">
                    <th scope="col" th:text="${cargo.id}"></th>
                    <td th:text="${cargo.nome}"></td>
                    <td th:text="${cargo.descricao}"></td>
                    <td>
                    <span th:each="risco, itr : ${cargo.riscos}"
                          th:title="${risco.descricao}"
                          th:text="${itr.index <= 0 ? '' : ', '}+${risco.nome}"></span>
                    </td>
                    <td><a th:href="@{/cargos/{idCargo}/edit(idCargo = ${cargo.id})}"><ion-icon name="create-outline" class="btn btn-info"></ion-icon></a></td>
                    <td><a th:href="@{/cargos/{idCargo}/delete(idCargo = ${cargo.id})}" ><ion-icon name="trash-outline" class="btn btn-danger"></ion-icon></a></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="/cargos/new">Novo cargo</a>
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>