<main class="container" th:fragment="form(exameDTO, action)">
    <div class="row">
        <form th:object="${exameDTO}" th:action="${action}" method="POST">
            <div class="mb-3">

                <label for="nome">Nome</label>
                <input type="text" th:field="*{nome}" id="nome">

                <label for="descricao">Descrição</label>
                <textarea th:field="*{descricao}" id="descricao"></textarea>

                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary" id="newNumerico">+ Item numérico</button><br>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary" id="newBooleano">+ Item booleano</button><br>
                    </div>
                </div>
                <div id="itensExame" class="row gap-10"></div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>

            </div>
        </form>
    </div>
    <script>
        function toggleDado() {
            var tipoDado = document.getElementById('tipoDado').value;
            var valorNumerico = document.getElementById('valor-numerico');
            var valorBooleano = document.getElementById('valor-booleano');

            if (tipoDado === 'NUMERICO') {
                valorNumerico.classList.remove('d-none');
                valorBooleano.classList.add('d-none');
            } else {
                valorNumerico.classList.add('d-none');
                valorBooleano.classList.remove('d-none');
            }
        }

        document.getElementById('newBooleano').addEventListener('click',function(){
            const divItens = document.getElementById('itensExame');
            const novoItem = document.createElement('div');
            const boolDivCount = divItens.getElementsByClassName('item-booleano').length;
            novoItem.innerHTML = `
                            <label for="nome-dado-booleano">Nome do dado</label>
                            <input type="text" name="nomeDadoBooleano[${boolDivCount}]" id="nome-dado-booleano">
                            <label>Resultado esperado (booleano)</label>
                            <select name="resultadoBooleanoEsperado[${boolDivCount}]">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                            <button type="button" class="btn btn-danger remove-btn">Remover</button>
                                    `;
            divItens.appendChild(novoItem);
            novoItem.classList.add('p-2','mb-2','bg-light','shadow-sm','rounded','item-booleano');

            // Adiciona o evento de remover para o botão "Remover"
            novoItem.querySelector('.remove-btn').addEventListener('click', function () {
                divItens.removeChild(novoItem);
            });
        });

        document.getElementById('newNumerico').addEventListener('click',function(){
            const divItens = document.getElementById('itensExame');
            const novoItem = document.createElement('div');
            const numDivCount = divItens.getElementsByClassName('item-numerico').length;
            novoItem.innerHTML = `
                            <label for="nome-dado-numerico">Nome do dado</label>
                            <input type="text" name="nomeDadoNumerico[${numDivCount}]" id="nome-dado-numerico">
                            <label for="resultadoNumericoEsperado">Resultado esperado (numérico)</label>
                            <fieldset id="resultadoNumericoEsperado" class="row">
                                <div class="col-6">
                                    <label>Minimo</label>
                                    <input name="minimoEsperado[${numDivCount}]" type="number" step="0.01" min="0" placeholder="Ex: 13">
                                </div>
                                <div class="col-6">
                                    <label>Maximo</label>
                                    <input name="maximoEsperado[${numDivCount}]" type="number" step="0.01" min="0" placeholder="Ex: 16">
                                </div>
                            </fieldset>
                            <button type="button" class="btn btn-danger remove-btn">Remover</button>
                                `;
            divItens.appendChild(novoItem);
            novoItem.classList.add('p-2','mb-2','bg-light','shadow-sm','rounded','item-numerico');

            // Adiciona o evento de remover para o botão "Remover"
            novoItem.querySelector('.remove-btn').addEventListener('click', function () {
                divItens.removeChild(novoItem);
            });
        });

        document.querySelectorAll('.remove-btn').forEach(button => {
            button.addEventListener('click', function () {
                const divItens = document.getElementById('itensExame');
                const div = this.parentElement;
                divItens.removeChild(div);
            });
        });
    </script>
</main>