<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('SafeWorkManager')}"></head>
<header th:replace="~{fragmentos :: header('Funcionarios')}"></header>
<body>
<main class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Setor</th>
            <th scope="col">Admissão</th>
            <th scope="col">Demissão</th>
            <th scope="col">Editar</th>
            <th scope="col">Apagar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="funcionario : ${funcionarios}">
            <th scope="col" th:text="${funcionario.id}"></th>
            <td><a th:href="@{/funcionarios/{idFuncionario}(idFuncionario=${funcionario.id})}" th:text="${funcionario.nome}"></a></td>
            <td th:text="${funcionario.cargo.nome}"></td>
            <td th:text="${funcionario.setor.nome}"></td>
            <td th:text="${funcionario.dataAdmissao}"></td>
            <td th:text="${funcionario.dataDemissao == null ? '(Ativo)' : funcionario.dataDemissao}"
                th:classappend="${funcionario.dataDemissao == null ? 'text-muted' : ''}"></td>
            <td><a th:href="@{/funcionarios/{idFuncionario}/edit(idFuncionario = ${funcionario.id})}"><ion-icon name="create-outline" class="btn btn-info"></ion-icon></a></td>
            <td><a th:href="@{/funcionarios/{idFuncionario}/delete(idFuncionario = ${funcionario.id})}" ><ion-icon name="trash-outline" class="btn btn-danger"></ion-icon></a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a href="/funcionarios/new">Novo funcionario</a>
    </div>
</main>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
