<main class="container" th:fragment="form(riscoDTO, action)">
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <form th:object="${riscoDTO}" th:action="${action}" method="POST">

        <div class="form-container">
          <label for="nome" class="form-label">Nome: </label>
          <input type="text" th:field="*{nome}" id="nome" class="form-control" required>
        </div>

        <div class="form-container">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea th:field="*{descricao}" id="descricao" class="form-control"></textarea>
        </div>

        <div class="form-container">
          <label for="observacao" class="form-label">Observação</label>
          <input type="text" th:field="*{observacao}" id="observacao" class="form-control" required>
        </div>
          <hr>

          <h4>Agentes de Risco</h4>

        <div class="form-container">
          <table id="agentesTable" class="table table-hover">
            <thead>
              <tr><th>Nome do Agente</th><th>Descrição do Agente</th><th>Ação</th></tr>
            </thead>
              <tbody id="agentesTableBody"></tbody>
          </table>

        </div>
        <button type="button" id="addAgentBtn" class="btn btn-secondary mt-2">Adicionar Agente</button>
        <div class="form-container mt-3">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    // JavaScript para adicionar novas linhas na tabela
    document.getElementById('addAgentBtn').addEventListener('click', function () {
      // Cria uma nova linha para os agentes
      const tableBody = document.getElementById('agentesTableBody');
      const rowCount = tableBody.children.length;
      const newRow = document.createElement('tr');

      newRow.innerHTML = `
        <td><input type="text" class="form-control" name="agenteNome[${rowCount}]"></td>
        <td><input type="text" class="form-control" name="agenteDescricao[${rowCount}]"></td>
        <td><button type="button" class="btn btn-danger remove-btn">Remover</button></td>
    `;

      tableBody.appendChild(newRow);

      // Adiciona o evento de remover para o botão "Remover"
      newRow.querySelector('.remove-btn').addEventListener('click', function () {
        tableBody.removeChild(newRow);
      });

    });

    // JavaScript para remover uma linha existente
    document.querySelectorAll('.remove-btn').forEach(button => {
      button.addEventListener('click', function () {
        const tableBody = document.getElementById('agentesTableBody');
        const row = this.parentElement.parentElement;
        tableBody.removeChild(row);
      });
    });
  </script>
</main>
