<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('SafeWorkManager')}"></head>
<header th:replace="~{fragmentos :: header('Funcionario ' + ${funcionario.nome} + ' - Novo exame')}"></header>
<body>
<main class="container">
    <form th:object="${examinacaoDTO}" th:action="@{/funcionarios/{funId}/examinacoes(funId=${funcionario.id})}" method="POST">
        <div id="exame-selecionado">
            <h4><strong>Exame:</strong> <span th:text="${exame.nome}"></span></h4>
            <p><strong>Descrição:</strong> <span th:text="${exame.descricao}"></span></p>

            <div class="form-group mb-3" style="width: fit-content">
                <label for="data-realizada">Data realizada:</label>
                <input type="date" th:field="*{dataRealizada}" id="data-realizada" class="form-control">
            </div>

            <div id="itens-exame">
                <div th:each="item, itr : ${exame.itensExame}" class="form-container">
                    <label th:text="${item.nomeDado}"></label>
                    <input

                            th:classappend="${item.tipoDado.toString() == 'NUMERICO'} ? 'form-control' : 'form-check-input'"
                            th:type="${item.tipoDado.toString() == 'NUMERICO' ? 'number' : 'checkbox'}"
                            th:name="${item.tipoDado.toString() == 'NUMERICO' ? ('resultadoNumerico[]') : ('resultadoBooleano[]')}"
                            th:placeholder="${item.tipoDado.toString() == 'NUMERICO' ? 'Entre '+item.resultadoValorMinimo+' e '+item.resultadoValorMaximo : ''}">
                    <input type="hidden" th:name="${(item.tipoDado.toString() == 'NUMERICO') ? 'idsNumericos[]': 'idsBooleanos[]'}" th:value="${item.id}">

                    <small th:text="${item.tipoDado.toString() == 'BOOLEANO' ? 'Esperado: '+(item.resultadoBooleano ? 'Sim' : 'Não') : ''}"
                            th:classappend="text-muted"></small>
                    <hr>
                </div>
            </div>
        </div>
            <input type="hidden" name="idExame" th:value="${exame.id}">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</main>
</body>
</html>
